@charset "UTF-8";

ul {
	list-style-type : none;
	padding-left : 0;
}
li {
	margin : 10px;
}
ul label {
	width : 80px;
	text-align: left;
	float : left;
}
fieldset {
	width : 40%;
}
button {
	margin: 5px;
}
body {
	font-family: 'Nanum Gothic', sans-serif;
}
input, textarea {
	font-family: 'Nanum Gothic', sans-serif;
	padding : 5px;
}
button {
	border-radius: 10px;
}